a {
    text-decoration: none;
}

/* Banner */
.banner {
    height: 260px; 
    overflow: hidden; 
    position: relative;
    z-index: 1;
}

.banner img {
    width: 100%;
    height: 260px; 
    object-fit: cover; 
}

/* headerTop */
.headerNavbarTop {
    background-color: rgba(136, 199, 244, 0.6);
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 2;
}

.headerNavbarTop a {
    margin: 0px 8px;
    padding: 0px 5px;
    line-height: 22px;
    font-size: 0px;
    color: white;
}

.headerNavbarTop a i {
    font-size: 16px;
}

.fas {
    margin-right: 5px;
}

.flag {
    width: 24px; 
    height: 16px;
    background-image: url('Images/Flag_of_Vietnam.svg.png');
    background-size: cover;
}

/* Navbar */
.navbarTop {
    position: absolute; 
    top: 40px; 
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbarLogo {
    width: 235px;
}

.navbarTop ul {
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
}

.navbarTop ul li a {
    color: white;
    font-size: 10px;
    border-bottom: 2px solid white;
    margin: 0 5px;
}

.navbarTop ul li a:hover {
    color: orange;
    border-bottom: 2px solid orange;
}

.navbarTop ul li ul li a {
    color: white;
    border-bottom: none;
}

.navbarTop ul li ul li:hover {
    background: rgb(215, 215, 215);
    border-bottom: none;
}

.navbarTop ul li ul li a:hover {
    color: orange;
    border-bottom: none;
}

.navbarIcon {
    background: white;
}

.dropdownMenu {
    display: none;
}

#hover-dropdown:hover .dropdown-menu {
    display: block;
}

.newsTitle {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

.newsTitle h1 {
    color: white;
    border-bottom: 3px solid white;
    display: inline-block;
}

/* Content */
.content {
    margin: 15px;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    gap: 15px;
}

.content .media {
    display: flex;
    gap: 15px;
}

.formInput {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content input {
    border: none;
    background: #C2C2C2;
    border-radius: 5px;
    height: 45px;
}

input {
    padding: 10px;
}

/* footer */
.footer {
    background: #003366;
    color: white;
}

.footer img {
    width: 203px; 
}

.footer h5, .footer a {
    margin: 0;
    padding: 0;
}

.footer h5 {
    font-weight: bold;
    font-size: 16px;
}

.footer a {
    color: white;
    font: 12px;
}

@media screen and (min-width: 768px) { /* ipad */
    .banner {height: 330px;}
    .banner img {height: 330px;}
    .headerNavbarTop a {
        font-size: 12px;
    }
    .navbarTop {
        top: 47px;
    }
    .navbarTop ul {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbarTop ul li a {
        color: white;
        border-bottom: 2px solid white;
    }
    .navbarTop ul li ul {
        background: white;
    }
    .navbarTop ul li ul li a {
        color: black;
    }
    .navbarLogo {
        width: 203px;
    }
    .newsTitle {
        top: 245px;
    }
    .content {
        margin: 30px;
        grid-template-columns: 40% 60%;
    }

    .footer img {
        width: 180px; 
    }
}

@media screen and (min-width: 1200px) { /* desktop */
    .banner {height: 330px;}
    .banner img {height: 330px;}
    .navbarTop {
        top: 57px;
    }
    .navbarTop ul li a {
        font-size: 14px;
    }
    .navbarLogo {
        width: 253px;
    }
    .newsTitle {
        top: 230px;
    }
    .footer img {
        width: 203px; 
    }
}